.sections {
  @include outer-container;
  @include padding(40px 15px);

  h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.section {
  @include span-columns(8);
  @include shift(2);
}