.masthead {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: url('../img/step_into_your_place.jpg') center center;
  background-size: cover;
}
  .masthead__copy {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #FFF;
  }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}