.toc {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  visibility: hidden;
  width: 300px;
  background: #000;
  padding-top: 70px;
  transition: all 150ms ease;
  color: #FFF;
  @include z-index('toc');

  .toc--active & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
  .toc__title {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .toc__links {
    display: block;
    padding: 10px 20px;
  }





.attribution {
  position: absolute;
  bottom: 20px;
  left: 20px;
  a {
    text-decoration: underline;
  }
}
