.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  color: #FFF;
  text-align: center;
  height: 40px;
  @include z-index('topbar');

  @include respond-to('desktop') {
    height: auto;
  }

}

.sm {
  float: left;
  display: inline-block;
  font-size: 1.5rem;

  &-menu {
    top: 52px;
    left: 6px;
    position: absolute;
    background: #333;
    text-align: left;
    transition: all 150ms ease;

    transform: translate3d(0, -5%, 0);
    opacity: 0;
    visibility: hidden; 

    &:before, &:after {
      bottom: 100%;
      left: 10px;
      border: solid rgba(0, 0, 0, 0);
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      border-color: rgba(51, 51, 51, 0);
      border-bottom-color: #333;
      border-width: 10px;

    }


    span {
      position: relative;
      display: block;
      line-height: 2rem;
      padding: 5px 15px;
      color: #FFF !important;
    }
    .stButton {
      margin: 0;
      padding: 0;
    }
    .chicklets {
      background: none !important;
      padding: 0 0 0 30px !important;
      font-size: 1.4rem !important;
    }

    .sm-active & {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

  }

  & > a {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -14px;
    display: block;
    padding: 12px;
    background: url('../img/share.png');
    background-size: 40px;
    background-position: 0px -65px;
    background-repeat: no-repeat;

    @include respond-to('desktop') {
      background-size: 50px;
      background-position: 0px -85px;
    }
  }


}

.title {
  display: none;

  @include respond-to('desktop') {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
  }
}

.toc-toggle {
  position: absolute;
  top: 7px;
  right: 15px;
  svg {
    fill: #FFF;
    width: 25px;
    height: 25px;
  }


  @include respond-to('desktop') {
    top: 12px;
  }

}

.sprite-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-image: url('../img/share.png');
  background-size: 45px;
  background-repeat: no-repeat;

  &--facebook {
    background-position: 0 0;
  }
  &--twitter {
    background-position: -26px 0;

  }
  &--tumblr {
    background-position: -26px -26px;
    
  }
  &--google {
    background-position: 0 -26px;
  }
  &--email {
    background-position: 0 -51px;
  }
}