.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  color: #FFF;
  @include z-index('topbar');
    text-align: center;
}

.sm {
  float: left;
  display: inline-block;
}

.title {
  display: inline-block;
  font-size: 2rem;

}

.toc-toggle {
  float: right;
  display: inline-block;
}