
<p>(1) <i>Education.</i>—Elementary
education, in all advanced countries, is in the hands of the State. Some of the
things taught are known to be false by the officials
who prescribe them, and many others are known to be false, or at any rate very
doubtful, by every unprejudiced person. Take, for example, the teaching of
history. Each nation aims only at self-glorification in the school text-books
of history. When a man writes his autobiography he is expected to show a
certain modesty; but when a nation writes its autobiography there is no limit
to its boasting and vainglory. When I was young, school books taught that the French
were wicked and the Germans virtuous; now they teach the opposite. In neither
case is there the slightest regard for truth.</p>

<figure class="fadein fig offset">
  <img src="assets/img/german_mad_brute_ww1.jpg" alt='"DESTROY THIS MAD BRUTE - Enlist U.S. Army" is the caption of this World War I propaganda poster for enlistment in the US Army. A dribbling, mustachioed ape wielding a club bearing the German word "kultur" and wearing a pickelhaube helmet with the word "militarism" is walking onto the shore of America while holding a half-naked woman in his grasp (possibly meant to depict Liberty). This is a US version of an earlier British poster with the same image. Dated ca 1917.'>
  <figcaption>
A dribbling, mustachioed ape wielding a club bearing the German word "kultur" and wearing a pickelhaube helmet with the word "militarism" is walking onto the shore of America while holding a half-naked woman in his grasp (possibly meant to depict Liberty). Source: <a href="https://commons.wikimedia.org/wiki/File:'Destroy_this_mad_brute'_WWI_propaganda_poster_%28US_version%29.jpg" target="_blank">Wikimedia</a>
  </figcaption>
</figure>

<p>German school books, dealing with
the battle of Waterloo, represent Wellington as all but defeated when <span
class=SpellE>Blücher</span> saved the situation; English books represent <span
class=SpellE>Blücher</span> as having made very little difference. The writers
of both the German and the English books know that they are not telling the
truth. American school books used to be violently anti-British; since the War
they have become equally pro-British, without aiming at truth in either case
(see <i>The Freeman</i>, Feb. 15, 1922, p. 532). Both before
and since, one of the chief purposes of education in the United States has been
to turn the motley collection of immigrant children into “good Americans.”
Apparently it has not occurred to any one that a “good American,” like a “good
German” or a “good Japanese,” must be, <i>pro <span class=SpellE>tanto</span></i>,
a bad human being. A “good American” is a man or woman imbued with the belief
that America is the finest country on earth, and ought always to be
enthusiastically supported in any quarrel. It is just possible that these
propositions are true; if so, a rational man will have no quarrel with them.
But if they are true, they ought to be taught everywhere, not only in America.
It is a suspicious circumstance that such propositions are never believed
outside the particular country which they glorify. Meanwhile the whole
machinery of the State, in all the different countries, is turned on to making <span
class=SpellE>defenceless</span> children believe absurd propositions the effect
of which is to make them willing to die in <span class=SpellE>defence</span> of
sinister interests under the impression that they are fighting for truth and
right. This is only one of countless ways in which education
is designed, not to give true knowledge, but to make the people pliable to the
will of their masters. Without an elaborate system of deceit in the elementary
schools it would be impossible to preserve the camouflage of democracy.</p>

<p><a aria-describedby="footnote-label" href="#america" id="america-ref">Before leaving the subject of education, I will take another example from America</a>—not
because America is any worse than other countries, but because it is the most
modern, showing the dangers that are growing rather than those that are
diminishing. In the State of New York a school cannot be established without a <span
class=SpellE>licence</span> from the State, even if it is to be supported
wholly by private funds. A recent law decrees that a <span class=SpellE>licence</span>
shall not be granted to any school “where it shall appear that the instruction
proposed to be given includes the teachings of the doctrine that organized
Governments shall be overthrown by force, violence, or unlawful means.” As the <i>New
Republic</i> points out, there is no limitation to this or that organized
Government. The law therefore would have made it
illegal, during the War, to teach the doctrine that the Kaiser’s Government
should be overthrown by force; and, since then, the support of Kolchak or <span
class=SpellE>Denikin</span> against the Soviet Government would have been
illegal. Such consequences, of course, were not intended, and result only from
bad <span class=SpellE>draughtsmanship</span>. What was intended appears from
another law passed at the same time, applying to teachers in State schools.
This law provides that certificates permitting persons to teach in such schools
shall be issued only to those who have “shown satisfactorily” that they are
“loyal and obedient to the Government of this State and of the United States,”
and shall be refused to those who have advocated, no matter where or when, “a
form of government other than the Government of this State or of the United
States.” The committee which framed these laws, as quoted by the <i>New
Republic</i>, laid it down that the teacher who “does not approve of the
present social system......must surrender his office,” and that “no person who
is not eager to combat the theories of social change should be entrusted with
the task of fitting the young and old for the
responsibilities of citizenship.” Thus, according to the law of the State of
New York, Christ and George Washington were too degraded morally to be fit for
the education of the young. If Christ were to go to New York and say, “Suffer
the little children to come unto me,” the President of the New York School
Board would reply: “Sir, I see no evidence that you are eager to combat
theories of social change. Indeed, I have heard it said that you advocate what
you call the <i>kingdom</i> of heaven, whereas this country, thank God, is a
republic. It is clear that the Government of your kingdom of heaven would
differ materially from that of New York State, therefore no children will be
allowed access to you.” If he failed to make this reply, he would not be doing
his duty as a functionary entrusted with the administration of the law.</p>

<p>The effect of such laws is very
serious. Let it be granted, for the sake of argument, that the government and
the social system in the State of New York are the best that have ever existed
on this planet; yet even then both would presumably be capable of improvement. Any person who admits this obvious
proposition is by law incapable of teaching in a State school. Thus the law
decrees that the teachers shall all be either hypocrites or fools.</p>

<p>The growing danger exemplified by the
New York law is that resulting from the monopoly of power in the hands of a
single organization, whether the State or a Trust or federation of Trusts. In
the case of education, the power is in the hands of the State, which can
prevent the young from hearing of any doctrine which it dislikes. I believe
there are still some people who think that a democratic State is scarcely
distinguishable from the people. This, however, is a delusion. The State is a
collection of officials, different for different purposes, drawing comfortable
incomes so long as the <i>status quo</i> is preserved. The only alteration they
are likely to desire in the <i>status quo</i> is an increase of bureaucracy and
of the power of bureaucrats. It is, therefore, natural that they should take
advantage of such opportunities as war excitement to acquire inquisitorial
powers over their employees, involving the right to inflict starvation upon any
subordinate who opposes them. In matters of the mind,
such as education, this state of affairs is fatal. It puts an end to all
possibility of progress or freedom or intellectual initiative. Yet it is the
natural result of allowing the whole of elementary education to fall under the
sway of a single organization.</p>

<p>Religious toleration, to a certain
extent, has been won because people have ceased to consider religion <span
class=GramE>so</span> important as it was once thought to be. But in politics
and economics, which have taken the place formerly occupied by religion, there
is a growing tendency to persecution, which is not by any means confined to one
party. The persecution of opinion in Russia is more severe than in any
capitalist country. I met in Petrograd an eminent Russian poet, Alexander
Block, who has since died as the result of privations. The Bolsheviks allowed
him to teach <span class=SpellE>æsthetics</span>, but he complained that they
insisted on his teaching the subject “from a Marxian point of view.” He had
been at a loss to discover how the theory of <span class=SpellE>rhythmics</span>
was connected with Marxism, although, to avoid starvation, he had done his best
to find out. Of course, it has been impossible in Russia ever since the Bolsheviks came into power to print anything critical
of the dogmas upon which their regime is founded.</p>

<p>The examples of America and Russia
illustrate the conclusion to which we seem to be driven—namely, that so long as
men continue to have the present fanatical belief in the importance of politics
free thought on political matters will be impossible, and there is only too
much danger that the lack of freedom will spread to all other matters, as it
has done in Russia. Only some degree of political <span class=SpellE>scepticism</span>
can save us from this misfortune.</p>

<p>It must not be supposed that the
officials in charge of education desire the young to become educated. On the
contrary, their problem is to impart information without imparting
intelligence. Education should have two objects: first, to give definite
knowledge—reading and writing, languages and mathematics, and so on; secondly,
to create those mental habits which will enable people to acquire knowledge and
form sound judgments for themselves. The first of these we may call
information, the second intelligence. The utility of information is admitted
practically as well as theoretically; without a
literate population a modern State is impossible. But the utility of
intelligence is admitted only theoretically, not practically; it is not desired
that ordinary people should think for themselves, because it is felt that
people who think for themselves are awkward to manage and cause administrative
difficulties. Only the guardians, in Plato’s language, are to think; the rest
are to obey, or to follow leaders like a herd of sheep. This doctrine, often
unconsciously, has survived the introduction of political democracy, and has
radically vitiated all national systems of education.</p>

<p>The country which has succeeded best in giving information without intelligence is the latest addition to modern civilization, Japan. Elementary education in Japan is said to be admirable from the point of view of instruction. <a aria-describedby="footnote-label" href="#mikado" id="mikado-ref">But, in addition to instruction, it has another purpose, which is to teach worship of the Mikado—a far stronger creed now than before Japan became modernized.</a>
Thus the schools have been used simultaneously to
confer knowledge and to promote superstition. Since we are not tempted to
Mikado-worship, we see clearly what is absurd in Japanese teaching. Our own
national superstitions strike us as natural and sensible, so that we do not
take such a true view of them as we do of the superstitions of Nippon. But if a
travelled Japanese were to maintain the thesis that our schools teach
superstitions just as inimical to intelligence as belief in the divinity of the
Mikado, I suspect that he would be able to make out a very good case.</p>

<p>For the present I am not in search of
remedies, but am only concerned with diagnosis. We are faced with the
paradoxical fact that education has become one of the chief obstacles to
intelligence and freedom of thought. This is due primarily to the fact that the
State claims a monopoly; but that is by no means the sole cause.</p>