<ul class="footnotes">
  <li class="footnote" id="dismissed">
    <a href="#dismissed-ref" aria-label="Back to content"></a>
    <p>I should add that they re-appointed me later, when war passions had begun to cool.</p>
  </li>
  <li class="footnote" id="america">
    <a href="#america-ref" aria-label="Back to content"></a>
    <p>See <i>The New Republic</i>, Feb. 1, 1922, p. 259 <i>ff.</i></p>
  </li>
  <li class="footnote" id="mikado">
    <a href="#mikado-ref" aria-label="Back to content"></a>
    <p>See <i>The Invention of a New Religion</i>. By Professor
Chamberlain, of Tokio. Published by the Rationalist
Press Association. (Now out of print.)</p>
  </li>
</ul>