


<p>(3) <i>Economic pressure.</i>—I have
already dealt with some aspects of this obstacle to freedom of thought, but I
wish now to deal with it on more general lines, as a danger which is bound to
increase unless very definite steps are taken to
counteract it. The supreme example of economic pressure applied against freedom
of thought is Soviet Russia, where, until the trade agreement, the Government
could and did inflict starvation upon people whose opinions it disliked—for
example, Kropotkin. But in this respect Russia is only somewhat ahead of other
countries. In France, during the Dreyfus affair, any teacher would have lost
his position if he had been in <span class=SpellE>favour</span> of Dreyfus at
the start or against him at the end. In America at the present day I doubt if a
university professor, however eminent, could get employment if he were to
criticize the Standard Oil Company, because all college presidents have
received or hope to receive benefactions from Mr. Rockefeller. Throughout
America Socialists are marked men, and find it extremely difficult to obtain
work unless they have great gifts. The tendency, which exists wherever
industrialism is well developed, for trusts and monopolies to control all
industry, leads to a diminution of the number of possible employers, so that it
becomes easier and easier to keep secret black books by means of which any one
not subservient to the great corporations can be
starved. The growth of monopolies is introducing in America many of the evils
associated with State Socialism as it has existed in Russia. From the
standpoint of liberty, it makes no difference to a man whether his only
possible employer is the State or a Trust.</p>

<p>In America, which is the most advanced
country industrially, and to a lesser extent in other countries which are
approximating to the American condition, it is necessary for the average
citizen, if he wishes to make a living, to avoid incurring the hostility of
certain big men. And these big men have an outlook—religious, moral, and
political—with which they expect their employees to agree, at least outwardly.
A man who openly dissents from Christianity, or believes in a relaxation of the
marriage laws, or objects to the power of the great corporations, finds America
a very uncomfortable country, unless he happens to be an eminent writer.
Exactly the same kind of restraints upon freedom of thought are bound to occur
in every country where economic organization has been carried to the point of practical monopoly. Therefore the safeguarding
of liberty in the world which is growing up is far more difficult than it was
in the nineteenth century, when free competition was still a reality. Whoever
cares about the freedom of the mind must face this situation fully and frankly,
realizing the inapplicability of methods which answered well enough while
industrialism was in its infancy.</p>

<p>There are two simple principles which,
if they were adopted, would solve almost all social problems. The first is that
education should have for one of its aims to teach people only to believe
propositions when there is some reason to think that they are true. The second
is that jobs should be given solely for fitness to do the work.</p>

<p>To take the second point first. The
habit of considering a man’s religious, moral, and political opinions before
appointing him to a post or giving him a job is the modern form of persecution,
and it is likely to become quite as efficient as the Inquisition ever was. The
old liberties can be legally retained without being of the slightest use. If,
in practice, certain opinions lead a man to starve, it is
poor comfort to him to know that his opinions are not punishable by law. There
is a certain public feeling against starving men for not belonging to the
Church of England, or for holding slightly unorthodox opinions in politics. But
there is hardly any feeling against the rejection of Atheists or Mormons,
extreme communists, or men who advocate free love. Such men are thought to be
wicked, and it is considered only natural to refuse to employ them. People have
hardly yet waked up to the fact that this refusal, in a highly industrial
State, amounts to a very rigorous form of persecution.</p>

<p>If this danger were adequately
realized, it would be possible to rouse public opinion, and to secure that a
man’s beliefs should not be considered in appointing him to a post. The
protection of minorities is vitally important; and even the most orthodox of us
may find himself in a minority <span class=SpellE>some day</span>, so that we
all have an interest in restraining the tyranny of majorities. Nothing except
public opinion can solve this problem. Socialism would make it somewhat more
acute, since it would eliminate the opportunities that now
arise through exceptional employers. Every increase in the size of industrial
undertakings makes it worse, since it diminishes the number of independent
employers. The battle must be fought exactly as the battle of religious
toleration was fought. And as in that case, so in this, a decay in the
intensity of belief is likely to prove the decisive factor. While men were
convinced of the absolute truth of Catholicism or Protestantism, as the case
might be, they were willing to persecute on account of them. While men are
quite certain of their modern creeds, they will persecute on their behalf. Some
element of doubt is essential to the practice, though not to the theory, of
toleration. And this brings me to my other point, which concerns the aims of
education.</p>

<p>If there is to be toleration in the
world, one of the things taught in schools must be the habit of weighing
evidence, and the practice of not giving full assent to propositions which
there is no reason to believe true. For example, the art of reading the
newspapers should be taught. The schoolmaster should select some incident which
happened a good many years ago, and roused political passions in its day. He should then read to the school children what was said
by the newspapers on one side, what was said by those on the other, and some
impartial account of what really happened. He should show how, from the biased
account of either side, a <span class=SpellE>practised</span> reader could
infer what really happened, and he should make them understand that everything
in newspapers is more or less untrue. The cynical <span class=SpellE>scepticism</span>
which would result from this teaching would make the children in later life
immune from those appeals to idealism by which decent people are induced to
further the schemes of scoundrels.</p>

<p>History should be taught in the same
way. Napoleon’s campaigns of 1813 and 1814, for instance, might be studied in
the <span class=SpellE><i>Moniteur</i></span>, leading up to the surprise which
Parisians felt when they saw the Allies arriving under the walls of Paris after
they had (according to the official bulletins) been beaten by Napoleon in every
battle. In the more advanced classes, students should be encouraged to count
the number of times that Lenin has been assassinated by Trotsky, in order to
learn contempt for death. Finally, they should be given a
school history approved by the Government, and asked to infer what a French
school history would say about our wars with France. All this would be a far
better training in citizenship than the trite moral maxims by which some people
believe that civic duty can be inculcated.</p>

<p>It must, I think, be admitted that the
evils of the world are due to moral defects quite as much as to lack of
intelligence. But the human race has not hitherto discovered any method of
eradicating moral defects; preaching and exhortation only add hypocrisy to the
previous list of vices. Intelligence, on the contrary, is easily improved by
methods known to every competent educator. Therefore, until some method of
teaching virtue has been discovered, progress will have to be sought by
improvement of intelligence rather than of morals. One of the chief obstacles
to intelligence is credulity, and credulity could be enormously diminished by
instruction as to the prevalent forms of mendacity. Credulity is a greater evil
in the present day than it ever was before, because, owing to the growth of
education, it is much easier than it used to be to
spread misinformation, and, owing to democracy, the spread of misinformation is
more important than in former times to the holders of power. Hence the increase
in the circulation of newspapers.</p>

<p>If I am asked how the world is to be
induced to adopt these two maxims—namely (1) that jobs should be given to
people on account of their fitness to perform them; (2) that one aim of
education should be to cure people of the habit of believing propositions for
which there is no evidence—I can only say that it must be done by generating an
enlightened public opinion. And an enlightened public opinion can only be
generated by the efforts of those who desire that it should exist. I do not
believe that the economic changes advocated by Socialists will, of themselves,
do anything towards curing the evils we have been considering. I think that,
whatever happens in politics, the trend of economic development will make the
preservation of mental freedom increasingly difficult, unless public opinion
insists that the employer shall control nothing in the life of the employee
except his work. Freedom in education could easily be
secured, if it were desired, by limiting the function of the State to
inspection and payment, and confining inspection rigidly to the definite
instruction. But that, as things stand, would leave education in the hands of
the Churches, because, unfortunately, they are more anxious to teach their
beliefs than Freethinkers are to teach their doubts. It would, however, give a
free field, and would make it possible for a liberal education to be given if
it were really desired. More than that ought not to be asked of the law.</p>

<p>My plea throughout this address has
been for the spread of the scientific temper, which is an altogether different
thing from the knowledge of scientific results. The scientific temper is
capable of regenerating mankind and providing an issue for all our troubles.
The results of science, in the form of mechanism, poison gas, and the yellow
press, bid fair to lead to the total downfall of our civilization. It is a
curious antithesis, which a Martian might contemplate with amused detachment.
But for us it is a matter of life and death. Upon its issue depends the
question whether our grandchildren are to live in a
happier world, or are to exterminate each other by scientific methods, leaving
perhaps to <span class=GramE>negroes</span> and Papuans the future destinies of
mankind.</p>