<!-- Begin Javascript -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<!-- End Javascript -->

<!-- #ShareThis -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "eec8d3b4-0915-404e-947a-54e89e405e14", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<!-- /ShareThis -->

</body>
</html>