<div class="topbar">
  <div class="sm">
    <a href="#" class="sm-toggle"><span class="hidden"></span></a>
    <div class="sm-menu">
      <a href="#" class="sm-link sm-facebook">
        <i class="sprite-icon sprite-icon--facebook"></i>
        Facebook
      </a>
      <a href="#" class="sm-link sm-twitter">
        <i class="sprite-icon sprite-icon--twitter"></i>
        Twitter
      </a>
      <a href="#" class="sm-link sm-tumblr">
        <i class="sprite-icon sprite-icon--tumblr"></i>
        Tumblr
      </a>
      <a href="#" class="sm-link sm-google">
        <i class="sprite-icon sprite-icon--google"></i>
        Google
      </a>
      <a href="#" class="sm-link sm-email">
        <i class="sprite-icon sprite-icon--email"></i>
        Email
      </a>
    </div>
  </div>
  <h1 class="title"><a href="index.html">Free Thought and Official Propaganda</a></h1>
  <a href="#" class="toc-toggle">
    @@include('../icons/menu.html')
  </a>
</div>